<div id="container-about">
    <div class="apresentation" animationDirective>
        <span class="about">Sobre mim</span>
        <div class="columns">
            <div class="first-column">
                <span>
                    Olá! Seja bem-vindo ao meu portfólio. Meu nome é Lucas Sanches, sou um programador de 27 anos, gaúcho,
                    natural do Rio Grande do Sul, Brasil. Permita-me compartilhar um pouco sobre mim.
                </span>
                <span>
                    Em 2017, ingressei na área de TI, cursando Sistemas de Informação na instituição
                    FACCAT - Faculdades Integradas de Taquara/RS.
                </span>
                <span>
                    Após alguns anos de faculdade, em junho de 2021, fui convidado para participar de um estágio
                    que era ministrado pela própria FACCAT em parceria com o
                    <a href="https://ri.grupopanvel.com.br/grupo-panvel/negocios-3/panvel/"
                       target="_blank">Grupo Panvel
                    </a>.
                </span>
                <span>
                    Este estágio durou 2 anos e nele adquiri muita experiência. Após alguns meses de estágio, fui integrado
                    ao time responsável pela manutenção e melhorias no site da
                    <a href="https://www.panvel.com/" target="_blank">Panvel</a>,
                    onde obtive a oportunidade de aprender tecnologias atuais e ganhar uma compreensão mais
                    ampla de um grande projeto.
                </span>
            </div>
            <div class="second-column">
                <span>
                    Após o término do estágio, fui contratado por esta empresa como desenvolvedor Front-end no time do PDV,
                    onde também utilizava o mesmo framework <a href="https://angular.io/" target="_blank">(Angular).</a>
                    Como contratado adquiri ainda mais experiência em desenvolvimento web.
                </span>
                <span>
                    Ao longo desses 3 anos, como falado brevemente, me aprofundei significativamente em Angular (da versão 5 a 14),
                    adquirindo conhecimentos sólidos em conceitos como Componentes, Diretivas, Serviços e Roteamento Angular,
                    Pipes, Injeção de Dependência, Interceptors HTTP, Lazy Loading, Testes Unitários e Testes de Integração
                    utilizando Jasmine e Karma, Testes End-to-End (E2E) com Cypress, Utilização de NgRx, Observables, RxJS Operators,
                    entre outros.
                </span>
                <span>Estou sempre em busca de aprender algo novo e sempre disposto a compartilhar o conhecimento que possuo.</span>
            </div>
        </div>
    </div>
</div>
