<div id="container-initial">
    <div class="container-text">
        <div class="text-design">
            <p class="first-animation"> Seja bem vindo ao meu portfólio! </p>
            <p class="second-animation"> Me chamo Lucas Sanches. </p>
            <p class="third-animation"> Sou um desenvolvedor Front-end Web </p>
            <p class="fourth-animation"> especializado em Angular. </p>
        </div>
        <div class="contacts">
            <a href="https://github.com/LukyEnd" target="_blank" class="github">
                <i class="fab fa-github"></i>
                <span class="name-web">Github</span>
            </a>
            <a href="https://www.linkedin.com/in/lucas-sanches-395740250/" target="_blank" class="linkedin">
                <i class="fab fa-linkedin-in"></i>
                <span class="name-web">LinkedIn</span>
            </a>
            <a href="sanchesluka31@gmail.com" target="_blank" class="gmail">
                <i class="fa-regular fa-envelope"></i>
                <span class="name-web">Gmail</span>
            </a>
            <a href="https://api.whatsapp.com/send?phone=5554992427141" target="_blank" class="whats">
                <i class="fab fa-whatsapp"></i>
                <span class="name-web">Whatsapp</span>
            </a>
        </div>
    </div>
    <div class="container-image">
        <img src="assets/images/lucas-developer.png" alt="Desenvolvedor">
    </div>
</div>




