<app-header/>

<div class="container-main">
    <div class="section-divider">
        <section>
            <app-initial/>
        </section>
        <div class="polygon"></div>
    </div>
    <div class="section-divider">
        <section>
            <app-about-me/>
        </section>
        <div class="polygon invert"></div>
    </div>
    <div class="section-divider">
        <section>
            <app-skills/>
        </section>
        <div class="polygon"></div>
    </div>
    <div class="section-divider">
        <section>
            <app-projects/>
        </section>
    </div>
</div>
<div class="copyright">
    <span class="text-copy">
        © Copyright 2024 -
        <a href="https://www.linkedin.com/in/lucas-sanches-395740250/"
           target="_blank">Lucas Sanches Cavalheiro
        </a>
    </span>
</div>
